$hr-colour: #ccc;

/*------------------------------------*\
    #TABLES
\*------------------------------------*/

.table {
    //todo @extend %block-default-spacing;
    border: 1px solid $hr-colour;
    // font-size: 14px;
    // font-size: .8125rem;
    //todo @include font-size(14);
    width: 100%;
    //    @include media(small-only) {
    //        font-size: 10px;
    //        font-size: .625rem;
    //    }

    @extend %mb-xxl;
    text-align: left;


    > thead {
        background-color: $lighter-grey;
        border-color: $hr-colour;
    }
}

.table--small-text--q-mobile {
    @include media(small-down) {
        //todo @include font-size(11);
    }
}

.table td,
.table th {
    padding: .75em;
    border-right: solid 1px $hr-colour;
    border-bottom: solid 1px $hr-colour;
    vertical-align: top;
}

.table.table--header-borders thead th {
    border: 1px solid #ddd !important;
}

.table--zebra {
    & > thead {
        border-bottom: solid 1px $hr-colour;
    }
    & > tfoot {
        border-top: solid 1px $hr-colour;
    }
    & > tbody > tr:nth-child(odd) {
        th {
            background-color: $lighter-grey;
        }
        td {
            background-color: $color-bg-table-head;
        }
    }
}

.table--plain {
    border: 0;
    & td,
    & th {
        padding: 0 0 .5em 0;
        border-right: 0;
    }
    & td:first-child,
    & th:first-child {
        padding-left: 0;
    }
}

.table--responsive {
    @include media(small-down) {
        display: block;
        border: none;


        td, tr, tbody, th {
            display: block;
            width: 100%;
            text-align: left;
            border-right: none;
            margin-top: 0;
        }
        thead {
            display: none;
        }
        td:first-child, th {

            padding: 0;
            margin-top: $base-spacing-unit;
            font-weight: bold; // ideally this would extend the h5

        }
        th {
            font-weight: bold;
        }

        // Forgive me for this.
        tbody tr:nth-child(odd) td,
        tbody tr:nth-child(odd) th {
            background: transparent;
        }

        tbody tr:nth-child(odd) td + td,
        tbody tr:nth-child(odd) th + td,
        td + td,
        th + td {
            background: #F7F7F7;
        }

        td + td {
            border-top: solid 1px #e6e6e6;
        }
        td[data-header] {
            overflow: hidden;
            display: block;
            position: relative;
            padding-left: 50%;
            //            &:after {
            //                content: "";
            //                position: absolute;
            //                top: 0;
            //                bottom: 0;
            //                left: 47%;
            //                background: #fff;
            //                width: 1px;
            //            }
        }
        td[data-header]:before {
            content: attr(data-header);
            float: left;
            width: 95%;
            margin-left: -100%;
            color: #777;
        }
    }
}
