// =============================================================================
// Global settings
// =============================================================================
@import './settings-mixins';

// Fonts & Typography
// =============================================================================
$font-size-base: 16px;
$line-height-base: 1.5;

$font-weight-medium: 500;
$font-weight-regular: 400;

// Spacing
// =============================================================================
$spacing-base-unit: 8;

$spacing-1: rem(1);
$spacing-2: rem(2);
$spacing-4: rem($spacing-base-unit * 0.5);
$spacing-8: rem($spacing-base-unit);
$spacing-12: rem($spacing-base-unit * 1.5);
$spacing-16: rem($spacing-base-unit * 2);
$spacing-20: rem($spacing-base-unit * 2.5);
$spacing-24: rem($spacing-base-unit * 3);
$spacing-32: rem($spacing-base-unit * 4);
$spacing-40: rem($spacing-base-unit * 5);
$spacing-48: rem($spacing-base-unit * 6);
$spacing-56: rem($spacing-base-unit * 7);
$spacing-64: rem($spacing-base-unit * 8);
$spacing-72: rem($spacing-base-unit * 9);
$spacing-80: rem($spacing-base-unit * 10);
$spacing-120: rem($spacing-base-unit * 15);
$spacing-192: rem($spacing-base-unit * 24);

// Default theme colours
// =============================================================================

// These colours cannot be changed by theming, they are core govt colours.
$color-core-white: #ffffff;
$color-core-black: #000000;
$color-core-grey: #363636;

// These colours can be changed by theming, using CSS variables
// set on the :root element.
$color-ds-default-slate: #2a2a2a;
$color-ds-default-dark-grey: #363636;
$color-ds-default-mid-grey: #595959;
$color-ds-default-light-grey: #d3d3d3;
$color-ds-default-off-white: #f4f4f4;
$color-ds-default-white: #ffffff;

$color-ds-default-green: #23cba5;
$color-ds-default-green-dark: #158c6a;
$color-ds-default-green-mid: #24a882;

$color-ds-default-focus: #b53cde;
$color-ds-default-link: #005dbb;
$color-ds-default-link-hover: #000c48;
$color-ds-default-link-visited: #4c2c92;

// These colours cannot be changed by theming.
$color-ds-alert-red: #b10e1e;
$color-ds-alert-amber: #fcab30;
$color-ds-alert-green: #30bb0d;
$color-ds-alert-blue: #3000ff;

// Colours mapped to a state/interaction.
$color-error: $color-ds-alert-red;
$color-warning: $color-ds-alert-amber;
$color-success: $color-ds-alert-green;
$color-info: $color-ds-alert-blue;


$ultra-dark-grey: #444;
$dark-grey: #555;
$mid-grey: #999;
$light-grey: #ddd;
$lighter-grey: #eee;
$ultra-light-grey: #F2F4F7;
$white: #fff;
$black: #000000;
$dark-blue:#00456B;
$med-blue: rgb(26, 104, 157);
$teal: #008b97;


$color-focus: rgb(255, 92, 0);


$error-red: #c44;
$warning-red: #CA4142;
$confirmation-green: #59B359;
$color-orange: #FF8C19;

/* base colours */
$base-font-color: $dark-grey;
$base-bg-color: $ultra-light-grey;

/* link colours */
$base-link-color: #236FA6;
$base-link-hover-color: darken($base-link-color, 15%);
$base-link-visited-color: lighten($base-link-color, 5%); //#c3c;

$base-link-color-reversed: #83BFEB;
$base-link-hover-color-reversed: lighten($base-link-color-reversed, 15%);
$base-link-visited-color-reversed: lighten($base-link-color-reversed, 15%);

$primary-border-color: #F2F2EB;


// header colour
$color-bg-header: #004771; // lighten(#00456B, 5%);

// form colours
$form-input-color: #F2F2EB;
$form-label-color: $dark-blue;
$form-input-border-color: $dark-blue;

// table colours
$color-bg-table-head: #eee;


// -----------------------------------------------------------------------------
// Icon colouring
// -----------------------------------------------------------------------------
// these need to to in steps of 100/(number_of_colours-1)
// -----------------------------------------------------------------------------

$icon-bg-black: 0;
$icon-bg-white: 11.111%; // 100% / (no. colours-1)
$icon-bg-blue: 22.222%;
$icon-bg-dark-blue: 33.333%;
$icon-bg-grey: 44.444%;
$icon-bg-dark-grey: 55.555%;
$icon-bg-light-grey: 66.666%;
$icon-bg-green: 77.777%;
$icon-bg-orange: 88.888%;
$icon-bg-red: 100%;


// Site width
// =============================================================================
$max-width: 1366;
